%h3 Forgot your password?

= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f|
  = devise_error_messages!

  .field
    .col-md-4.text-right.form-group
      = f.label :email

    .col-md-6.form-group
      = f.email_field :email, autofocus: true, class: 'form-control'


  .actions.col-md-12
    = f.submit 'Send me reset password instructions', class: 'btn btn-md btn-primary'

= render 'devise/shared/links'
