!!!5
%html{lang: 'en'}
  = render partial: 'layouts/partials/head'

  %body
    = render partial: 'layouts/partials/navbar'

    .container
      .row
        .col-lg-12
          = bootstrap_flash

      .row
        .col-md-6.col-md-offset-3.well.text-center
          = yield

      = render partial: 'layouts/partials/footer'
